<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kocepto Web - @ViewBag.Title </title>
    @Html.Partial("~/Views/Shared/Head.cshtml")

    @if (ViewBag.Title == "Invoice_Return")
    {
    <style>
        @@media (max-width: 575.98px) {
            #prodfacturar {
                width: 316px !important;
            }
        }
    </style>
    }
</head>
<body class="dt-sidebar--fixed dt-sidebar--folded">
    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">
            <!-- Site Main -->
            <main class="dt-main">
                @Html.Partial("~/Views/Shared/Sidebar.cshtml")

                @RenderBody()
            </main>
            <!-- /site main -->
        </div>
    </div>
    <!-- /root -->
    @Html.Partial("~/Views/Shared/Scripts.cshtml")
</body>
</html>

<!--NOTIFICACIONES GLOBALES-->

@if (TempData["error"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            var toast = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            toast({
                type: 'danger',
                title: '@(TempData["error"])'
            });

        };
    </script>
}


@if (TempData["advertencia"] != null)
{
    <script type="text/javascript">

        $(document).ready(function () {
            var toast = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            toast({
                type: 'info',
                title: '@(TempData["advertencia"])'
            });


        });
    </script>
}


@if (TempData["exito"] != null)
{
    <script type="text/javascript">

        $(document).ready(function () {
            var toast = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });



        toast({
            type: 'success',
            title: '@(TempData["exito"])'
        });
        });
    </script>
}


@if (ViewBag.Title == "Dashboard")
{
    <script>

        $(document).ready(function () {
            $("#table_facturas").DataTable();




        });


        function filtrarTabla() {

            var val = $("#table-filter").val();

            if (this.value = "") {

                $("#table_facturas").DataTable().column(5).search('').draw();
            } else {

                $("#table_facturas").DataTable().column(5).search(val).draw();

            }
        }

    </script>
}

@if (ViewBag.Title == "Historial")
{
    <script>
        $(document).ready(function () {
            $("#table_facturas").DataTable();
        });
    </script>
}

<script>
    $(".js-example-responsive").select2({
        width: 'resolve' // need to override the changed default
    });

</script>


@if (ViewBag.Title == "Invoice_process")
{
    @Html.Partial("~/Views/Shared/Script_invoiceprocess.cshtml")
}


@if (ViewBag.Title == "Invoice_processEdit")
{
    @Html.Partial("~/Views/Shared/Script_invoiceprocessEdit.cshtml")
}
@if (ViewBag.Title == "Invoice_Return")
{
    @Html.Partial("~/Views/Shared/Script_invoiceReturn.cshtml")
}


@if (ViewBag.Title == "Invoice_anticipo")
{
    @Html.Partial("~/Views/Shared/Script_invoiceAnticipo.cshtml")
}

@if (ViewBag.Title == "Users")
{
    <script>


        $('input.selectchk[type="checkbox"]').on('change', function () {

            var iduser = $(this).data('iduser');
            var val = $(this).prop('checked');


            $.ajax
                ({
                    url: '/Home/activeUser',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        iduser: iduser,
                        selected: val
                    }),
                    success: function (result) {

                        var toastsuccess = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toastsuccess({
                            type: 'success',
                            title: 'Usuario actualizado exitosamente.'
                        });
                    },
                    error: function () {


                    },
                });
        });

        //function delUser(id_user) {

        //    swal.fire({
        //        title: 'Are you sure to delete this user?',

        //        type: 'warning',
        //        showCancelButton: true,
        //        confirmButtonColor: '#3dba6f',
        //        cancelButtonColor: '#aaa',
        //        confirmButtonText: 'Yes'
        //    }).then((result) => {
        //        if (result.value) {

        //            $.ajax({
        //                url: '/Management/deleteUser',
        //                type: 'POST',
        //                data: { 'id_user': id_user },
        //                cache: false,
        //                global: false,
        //                success: function (result) {

        //                    if (result == "SUCCESS") {

        //                        Swal.fire(
        //                            'User deleted!',
        //                            'The User has been deleted.',
        //                            'success'
        //                        )
        //                        window.location.reload(true);
        //                    } else {
        //                        alert("Something went wrong..");
        //                    }


        //                },
        //                error: function (request) {
        //                    alert("Something went wrong..");

        //                }
        //            });

        //        }
        //    })
        //}

        function editUser(id_user) {
            $.ajax({
                url: '/Home/getUser',
                type: 'GET',
                data: { 'id_user': id_user },
                cache: false,
                global: false,
                success: function (result) {
                    //console.log(result.result);
                    $.each($.parseJSON(result.result), function (i, userdata) {
                        $("#nameUserEdit").val(userdata.Name);
                        $("#IDUserEdit").val(userdata.ID_User);
                        $("#emailUserEdit").val(userdata.Email);
                        $("#passwordUserEdit").val(userdata.Password);
                        $("#telephoneUserEdit").val(userdata.Telephone);
                        $("#codigoUserEdit").val(userdata.ID_SalesRep);
                        $("#SucursalUserC").val(userdata.ID_SalesPoint);

                        $("#departmentsUserEdit").val(userdata.Departments);
                        $("#rolesUserEdit").val(userdata.Roles).trigger("change");;

                    });


                    $("#form-modalEditar").modal('show');
                },
                error: function (request) {
                    alert("Something went wrong..");

                }
            });
        }



    </script>

    <script>
        function myFunction() {
            var x = document.getElementById("passwordUserEdit");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
}