@model List<Koncepto_webapp.Models.BI_Facturas_Encabezado>
@{
    ViewBag.Title = "Dashboard";
    List<Koncepto_webapp.Models.BI_Facturas_Encabezado> lstInvoices_Ant = ViewBag.earlier_lstInvoices;
    var existe = 0;
    if (lstInvoices_Ant.Count > 0) {
        existe = 1;
    }
}

<!-- Site Content Wrapper -->
<div class="dt-content-wrapper">

    <!-- Site Content -->
    <div class="dt-content">

        <!-- Brand tool -->
        <div class="dt-brand__tool mb-8 d-lg-none" data-toggle="main-sidebar">
            <div class="hamburger-inner"></div>
        </div>
        <!-- /brand tool -->
        <!-- Page Header -->
        <div class="dt-page__header">
            <h1 class="dt-page__title">Dashboard</h1>
        </div>
        <!-- /page header -->
        <!-- Grid -->
        <div class="row">
            <div class="col-xl-1">
            </div>
            <!-- Grid Item -->
            <div class="col-xl-2 col-sm-6">
                <!-- Card -->
                <div class="dt-card">

                    <!-- Card Body -->
                    <div class="dt-card__body d-flex flex-sm-column">
                        <div class="mb-sm-7 mr-7 mr-sm-0">
                            <i class="icon icon-revenue2 dt-icon-bg bg-success text-success"></i>
                        </div>
                        <div class="flex-1">
                            <div class="d-flex align-items-center mb-2">
                                <span class="h2 mb-0 font-weight-500 mr-2">$@Model.Sum(c => c.Total_Doc).Value.ToString("N2")</span>
                                @if (existe == 1)
                                {
                                    if (((((Model.Sum(c => c.Total_Doc).Value / lstInvoices_Ant.Sum(c => c.Total_Doc).Value) * 100) - 100)) < 0)
                                    {
                            <span class="d-inline-flex text-danger">

                                <i class="icon icon-loss icon-fw"></i>  @((((Model.Sum(c => c.Total_Doc).Value / lstInvoices_Ant.Sum(c => c.Total_Doc).Value) * 100) - 100).ToString("N0"))%
                            </span>
                                    }
                                    else
                                    {
                            <span class="d-inline-flex text-success">

                                <i class="icon icon-profit icon-fw"></i>  @((((Model.Sum(c => c.Total_Doc).Value / lstInvoices_Ant.Sum(c => c.Total_Doc).Value) * 100) - 100).ToString("N0"))%
                            </span>
                                    }
                                }
                                else {



                        <span class="d-inline-flex text-danger">

                            <i class="icon icon-loss icon-fw"></i> 0%
                        </span>



                                }


                            </div>
                            <div class="h5 mb-2">Total de Venta</div>
                            <p class="card-text text-light-gray f-12">Anterior: $@lstInvoices_Ant.Sum(c => c.Total_Doc).Value.ToString("N2")</p>
                        </div>
            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->
        </div>
        <!-- /grid item -->
        <!-- Grid Item -->
        <div class="col-xl-2 col-sm-6">
            <!-- Card -->
            <div class="dt-card">

                <!-- Card Body -->
                <div class="dt-card__body d-flex flex-sm-column">
                    <div class="mb-sm-7 mr-7 mr-sm-0">
                        <i class="icon icon-dashboard3 dt-icon-bg bg-primary text-primary"></i>
                    </div>
                    <div class="flex-1">
                        <div class="d-flex align-items-center mb-2">
                            @if (ViewBag.meta == null)
    {
                        <span class="h2 mb-0 font-weight-500 mr-2">0%</span>
}
else
{
if (ViewBag.meta.Venta_Meta > 0)
{
                        <span class="h2 mb-0 font-weight-500 mr-2">@(((Model.Sum(c => c.Total_Doc).Value / ViewBag.meta.Venta_Meta) * 100).ToString("N0"))%</span>
}
else
{

                        <span class="h2 mb-0 font-weight-500 mr-2">0%</span>
}

}                                                    
                            @if (ViewBag.meta == null)
    {

                        <span class="d-inline-flex text-danger">
                            <i class="icon icon-loss icon-fw"></i>
                        </span>
}
else
{

if (ViewBag.meta.Venta_Meta > 0)
{
    if (((Model.Sum(c => c.Total_Doc).Value / ViewBag.meta.Venta_Meta) * 100) < 100)
    {
                        <span class="d-inline-flex text-danger">
                            <i class="icon icon-loss icon-fw"></i>
                        </span>
}
else
{
                        <span class="d-inline-flex text-success">
                            <i class="icon icon-profit icon-fw"></i>
                        </span>
}
}
else
{
                        <span class="d-inline-flex text-danger">
                            <i class="icon icon-loss icon-fw"></i>
                        </span>

}

}

                        </div>
                        <div class="h5 mb-2">Ventas vs Meta</div>
                        @if (ViewBag.meta == null)
    {
                    <p class="card-text text-light-gray f-12">Meta: $0.00</p>
}
else
{
                    <p class="card-text text-light-gray f-12">Meta: $@ViewBag.meta.Venta_Meta.ToString("N2")</p>
}
                    </div>
                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->
        </div>
        <!-- /grid item -->
        <!-- Grid Item -->
        <div class="col-xl-2 col-sm-4">
            <!-- Card -->
            <div class="dt-card">

                <!-- Card Body -->
                <div class="dt-card__body d-flex flex-sm-column">
                    <div class="mb-sm-7 mr-7 mr-sm-0">
                        <i class="icon icon-user-add dt-icon-bg bg-warning text-warning"></i>
                    </div>
                    <div class="flex-1">
                        <div class="d-flex align-items-center mb-2">
                            <span class="h2 mb-0 font-weight-500 mr-2">@ViewBag.clientesactual</span>
                            @if (ViewBag.totalporcentajeclientes > 0)
    {
                        <span class="d-inline-flex text-success">
                            <i class="icon icon-profit icon-fw"></i>@ViewBag.totalporcentajeclientes.ToString("N0")%
                        </span>
}
else
{
                        <span class="d-inline-flex text-danger">
                            <i class="icon icon-loss icon-fw"></i>@ViewBag.totalporcentajeclientes.ToString("N0")%
                        </span>
}

                        </div>
                        <div class="h5 mb-2">Clientes nuevos</div>
                        <p class="card-text text-light-gray f-12">Anterior: @ViewBag.clientesantes</p>
                    </div>
                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->
        </div>
        <!-- /grid item -->
        <!-- Grid Item -->
        <div class="col-xl-2 col-sm-4">
            <!-- Card -->
            <div class="dt-card">

                <!-- Card Body -->
                <div class="dt-card__body d-flex flex-sm-column">
                    <div class="mb-sm-7 mr-7 mr-sm-0">
                        <i class="icon icon-customer dt-icon-bg bg-danger text-danger"></i>
                    </div>
                    <div class="flex-1">
                        <div class="d-flex align-items-center mb-2">
                            <span class="h2 mb-0 font-weight-500 mr-2">@Model.Select(c => c.Id_Cliente).Distinct().Count()</span>

                            @if (existe == 1)
                            {
                        if ((((Convert.ToDecimal(Model.Select(c => c.Id_Cliente).Distinct().Count()) / Convert.ToDecimal(lstInvoices_Ant.Select(c => c.Id_Cliente).Distinct().Count())) * 100) - 100) < 0)
                        {
                        <span class="d-inline-flex text-danger">
                            <i class="icon icon-loss icon-fw"></i> @((((Convert.ToDecimal(Model.Select(c => c.Id_Cliente).Distinct().Count()) / Convert.ToDecimal(lstInvoices_Ant.Select(c => c.Id_Cliente).Distinct().Count())) * 100) - 100).ToString("N0"))%
                        </span>
                        }
                        else
                        {
                        <span class="d-inline-flex text-success">
                            <i class="icon icon-profit icon-fw"></i> @((((Convert.ToDecimal(Model.Select(c => c.Id_Cliente).Distinct().Count()) / Convert.ToDecimal(lstInvoices_Ant.Select(c => c.Id_Cliente).Distinct().Count())) * 100) - 100).ToString("N0"))%
                        </span>
                        }
                            }
                            else {


                    <span class="d-inline-flex text-danger">
                        <i class="icon icon-loss icon-fw"></i> 0%
                    </span>


                            }



                        </div>
                        <div class="h5 mb-2">Clientes</div>
                        <p class="card-text text-light-gray f-12">Anterior: @lstInvoices_Ant.Select(c => c.Id_Cliente).Distinct().Count() </p>
                       
                    </div>
                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->
        </div>
        <!-- /grid item -->
        <!-- Grid Item -->
        <div class="col-xl-2 col-sm-4">
            <!-- Card -->
            <div class="dt-card">

                <!-- Card Body -->
                <div class="dt-card__body d-flex flex-sm-column">
                    <div class="mb-sm-7 mr-7 mr-sm-0">
                        <i class="icon icon-invoice dt-icon-bg bg-secondary text-secondary"></i>
                    </div>
                    <div class="flex-1">
                        <div class="d-flex align-items-center mb-2">
                            <span class="h2 mb-0 font-weight-500 mr-2">@Model.Count()</span>
                            @if (existe == 1)
                            {
                                if ((((Convert.ToDecimal(Model.Count()) / Convert.ToDecimal(lstInvoices_Ant.Count())) * 100) - 100) < 0)
                                {
                        <span class="d-inline-flex text-danger">
                            <i class="icon icon-loss icon-fw"></i> @((((Convert.ToDecimal(Model.Count()) / Convert.ToDecimal(lstInvoices_Ant.Count())) * 100) - 100).ToString("N0"))%
                        </span>
                                }
                                else
                                {
                        <span class="d-inline-flex text-success">
                            <i class="icon icon-profit icon-fw"></i> @((((Convert.ToDecimal(Model.Count()) / Convert.ToDecimal(lstInvoices_Ant.Count())) * 100) - 100).ToString("N0"))%
                        </span>
                                }
                            }
                            else {
                                         <span class="d-inline-flex text-danger">
                            <i class="icon icon-loss icon-fw"></i> 0%
                        </span>

                            }


                        </div>
                        <div class="h5 mb-2">Total de facturas</div>
                        <p class="card-text text-light-gray f-12">Anterior: @lstInvoices_Ant.Count()</p>
                    </div>
                </div>
                <!-- /card body -->

            </div>
            <!-- /card -->
        </div>
        <!-- /grid item -->
        <div class="col-xl-1">
        </div>
        </div>
            <!-- Grid -->
            <div class="row">

                <!-- Grid Item -->
                <div class="col-xl-12">

                    <!-- Entry Header -->
                    <div class="dt-entry__header">

                        <!-- Entry Heading -->
                        <div class="dt-entry__heading">
                            <h3 class="dt-entry__title">Historial de facturacion</h3>
                        </div>
                        <!-- /entry heading -->
                        @if (ViewBag.esvendedor == 0)
    {
                    <div class="dt-card__tools">
                        <select class="form-control" id="table-filter" onchange="filtrarTabla()">
                            <option value="">Ver todos</option>
                            <option value="1">Facturados</option>
                            <option value="0">Pendientes de Pago</option>
                        </select>
                    </div>
}

                    </div>
                    <!-- /entry header -->
                    <!-- Card -->
                    <div class="dt-card overflow-hidden" style="box-shadow:none !important;">

                        <!-- Card Body -->
                        <div class="dt-card__body p-0">

                            <!-- Tables -->
                            <div class="table-responsive">
                                <table class="table table-striped" id="table_facturas">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase" scope="col"># Factura</th>
                                            <th class="text-uppercase" scope="col">Fecha</th>
                                            <th class="text-uppercase" scope="col">Cliente</th>
                                            <th class="text-uppercase" scope="col">Vendedor</th>
                                            <th class="text-uppercase" scope="col">Total</th>
                                            <th hidden class="text-uppercase" scope="col">Total</th>
                                            <th class="text-uppercase" scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var factura in ViewBag.lstinvoicesAzure)
                                    {
                                        <tr>
                                            <td data-label="# FACTURA">@factura.NFactura</td>
                                            <td data-label="FECHA">
                                                @Convert.ToDateTime(factura.Fecha).ToShortDateString()
                            
                                    <label>@Convert.ToDateTime(factura.Fecha).ToShortTimeString()</label>
                            
                                        </td>
                                        <td data-label="CLIENTE">@factura.Cod_cliente - @factura.Cliente</td>
                                        <td data-label="VENDEDOR">@factura.Vendedor</td>
                                    <td data-label="TOTAL">$@factura.TotalFactura.ToString("N2")</td>
                                    <td hidden>@factura.Estado</td>
                                    <td data-label="">
                                       
                                            @if (ViewBag.esvendedor == 1)
                                            {
                                                   <a href="@Url.Action("Print_InvoiceData","Invoices", new { idfactura=factura.ID_factura})" target="_blank" class="btn btn-primary mr-2 mb-2">Ver</a>
                                            }
                                            else {

                                                 if (factura.Estado == 0)
                                                 {
                                                     <a href="@Url.Action("Invoice_processEdit","Invoices", new { factura=factura.ID_factura})"  class="btn btn-primary mr-2 mb-2">Facturar</a>
                                                 }
                                                 else {
                                                     <a href="@Url.Action("Print_InvoiceData","Invoices", new { idfactura=factura.ID_factura})" target="_blank" class="btn btn-primary mr-2 mb-2">Ver</a>
                                                 }

                                                   
                                            }
                                         
                                        
                                            
                                    </td>
                                </tr>
                        }


                                    </tbody>
                                </table>
                            </div>
                            <!-- /tables -->

                        </div>
                        <!-- /card body -->

                    </div>
                    <!-- /card -->


                </div>
                <!-- /grid item -->

            </div>
            <!-- /grid -->

        </div>
        <!-- /site content -->
        <!-- Footer -->
        @Html.Partial("~/Views/Shared/Footer.cshtml")
        <!-- /footer -->

    </div>
<!-- /site content wrapper -->